<header class="main_header">
    <div class="container">
    <div class="row manage_height">
            <img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/logo.png" width="95" height="41px">
            <span class="header_action_panel">
                <span >Your School is: {{schoolNumber}}</span>
                <select class="combo_box" name="" id="" (click)="getOutput($event)">
                    <option *ngFor="let opt of commboBoxItems">
                        {{opt.items}}
                    </option>
                        <option value="">
                            <input type="text" class="form-control">
                        </option>
                </select>
                <button class="btn btn-primary" style="font-size:14px" onclick="moveToForm()">Learn More</button>
            </span>
    </div>
</div>
</header>