<header class="main_header">
    <div class="container">
    <div class="row manage_height">
            <img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/logo.png" width="95" height="41px">
            <span class="header_action_panel">
                <span *ngIf="schoolValue" style="font-weight: normal; letter-spacing: 2px;">{{schoolNumber}}</span>
                <!-- <select name="" id="">
                    <option value="">Default</option>
                    <option>show School Numner</option>
                    <option>Hide School Number</option>
                </select> -->
                <input type="text" class="form-control" [(ngModel)]="dummySlogan"  placeholder="make your slogan here">
                <span>{{dummySlogan}}</span>
                <button class="btn btn-primary" style="font-size:14px" (click)="changeVlave()">{{btnValue}}</button>
            </span>
    </div>
</div>
</header>