<footer class="footer">
    <div class="container">
        <div class="row mobile_show">
            <div class="col-md-6 social_media">
                <a href="">
                    <img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/facebook.png">
                </a>
                <a href="">
                        <img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/instagram.png">
                </a>
                <a href="">
                    <img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/twitter.png">
                </a>
            </div>
            <div class="col-md-6 footer_logo_area text-right">
                <span class="f_logo"><img src="https://s3.amazonaws.com/webcontentor-microsite/sc_public/image/footer_logo.png"></span>
            </div>
        </div>
    </div>
</footer>