<section class="section_basic intro" id="intro">
  <div class="intro_bkg"></div>
  <div class="container container_intro">
      <div class="outer_box">
          <div class="slogan_area">
              <div class="row">
                  <div class="col-md-8">
                      <div class="text_box">
                              <h1 class="sub_title">Let us demo our new ridesharing technology. See how Zūm transforms public school transportation.</h1>
                              <ul class="dotted_unorderList">
                                  <li>
                                      Save money with pay-per-use pricing &amp; right-sized vehicles.
                                  </li>
                                  <li>
                                      Save time with optimized routes (including for SpEd needs).

                                  </li>
                                  <li>
                                      Get unmatched transparency and visibility from real-time ride tracking, our mobile app and personalized School Dashboard.
                                  </li>
                              </ul>
                              <button class="btn btn-primary" onclick="moveToForm()">Learn More</button>
                          </div>
                  </div>
              </div>
              
          </div>
              
          
      </div>
  </div>
</section>