<section class="panel_range_show">
  <div class="container">
      <div class="row range_box_manage">
          <div class="range_km col-md-3 col-sm-6 text-center">
             <div class="range_inner_box"> 
                 <span class="big_no">5M</span>
                 <span class="text_no">Safe Miles <br>
                      Driven</span>
             </div>
          </div>
          <div class="range_km col-md-3 col-md-3 col-sm-6 text-center">
              <div class="range_inner_box"> 
                  <span class="big_no">500K</span>
                  <span class="text_no">Children Safely <br>
                          Transported</span>
              </div>
              </div>
              <div class="range_km col-md-3 col-md-3 col-sm-6 text-center">
              <div class="range_inner_box"> 
                  <span class="big_no">2K+</span>
                  <span class="text_no">Schools <br>
                          Trust Zūm</span>
              </div>
              </div>
              <div class="range_km col-md-3 col-md-3 col-sm-6 text-center">
                  <div class="range_inner_box"> 
                      <span class="big_no">4.8</span>
                      <span class="text_no">Star <br>
                              Rating</span>
                  </div>
                  </div>
      </div>
  </div>
</section>