<section class="menu_bar">
  <div class="container">
    <div class="row">
     <div> 
       
          <div>
            <textarea id="text"  #chatValue style="float:right; width: 300px;  margin-bottom: 10px;"></textarea>
          </div>
          <div>
              <input class="gender" #getgenderSex  type="radio"  name="gender" value="female" [(ngModel)]="sex">Female &nbsp;&nbsp;&nbsp;&nbsp; 
              <input class="gender" #getgenderSex  type="radio" name="gender" value="male" [(ngModel)]="sex">Male
              
            <!-- <input class="gender" (click)="getGenderValue($event)" type="radio" #gender name="gender" value="male">Male &nbsp;&nbsp;&nbsp;&nbsp;  -->
            
            <!-- <input class="gender" (click)="getGenderValue($event)" type="radio" #gender name="gender" value="female">Female -->
          </div>
      <button class="btn btn-primary" (click)="getChatValue(chatValue.value ,getgenderSex.value)" >Submit</button>
    </div>
   
    </div>
    <div class="row">
        <!-- <div>
          <span>{{getEmpObjValue.id}}</span>&nbsp;&nbsp;
          <span>{{getEmpObjValue.name}}</span>&nbsp;&nbsp;
          <span>{{getEmpObjValue.city}}</span>&nbsp;&nbsp;
          <span>{{getEmpObjValue.age}}</span><br><br>

          <input type="text" [(ngModel)]="getEmpId">
          <button (click)="getEmpDetail()" >click me</button>
        </div> -->
        <div>

          <!-- <div *ngFor="let objkey of getEmpObjValue let i = index">

            <span>{{objkey.id}}</span>: <span>{{objkey.name}}</span>:<span>{{objkey.age}}</span>:<span>{{objkey.city}}</span>
            
          </div> -->

          <div *ngFor="let jason of getEmpObjValue let i =index">
          
              <span>ID: </span> <span>{{getEmpObjValue[i].id}}</span>  <span>Name: </span> <span>{{getEmpObjValue[i].name}}</span>  <span>Age: </span> <span>{{getEmpObjValue[i].age}}</span>  <span>City: </span> <span>{{getEmpObjValue[i].city}}</span>
          
            <div>
             
            </div>
          </div>
          <button (click)="getAllJasonData()" >Get Json Formate</button>
        </div>
        <ul>
          <li *ngFor="let menu of storeMenu" (click)="detaSet(menu)">
            {{menu.menuName}}
          </li>
        </ul>
    </div>
  </div>
  
</section>
