<section class="menu_bar">
  <div class="container">
    <div class="row">
     <div> 
       
          <div>
            <textarea id="text"  #chatValue style="float:right; width: 300px;  margin-bottom: 10px;"></textarea>
          </div>
          <div>
              <input class="gender" #getgenderSex  type="radio"  name="gender" value="female" [(ngModel)]="sex">Female &nbsp;&nbsp;&nbsp;&nbsp; 
              <input class="gender" #getgenderSex  type="radio" name="gender" value="male" [(ngModel)]="sex">Male
              
            <!-- <input class="gender" (click)="getGenderValue($event)" type="radio" #gender name="gender" value="male">Male &nbsp;&nbsp;&nbsp;&nbsp;  -->
            
            <!-- <input class="gender" (click)="getGenderValue($event)" type="radio" #gender name="gender" value="female">Female -->
          </div>
      <button class="btn btn-primary" (click)="getChatValue(chatValue.value ,getgenderSex.value)" >Submit</button>
    </div>
   
    </div>
    <div class="row">
        <div>
         
          <span>{{getEmpObjValue.name}}</span><br>
          <span>{{getEmpObjValue.city}}</span><br>
          <span>{{getEmpObjValue.age}}</span>

          <input type="text" [(ngModel)]="getEmpId">
          <button (click)="getEmpDetail()" >click me</button>
        </div>
        <ul>
          <li *ngFor="let menu of storeMenu" (click)="detaSet(menu)">
            {{menu.menuName}}
          </li>
        </ul>
    </div>
  </div>
  
</section>
