.info_bar{
    height: 30px;
    width: 100%;

    background-color: #ECEC4C;
    color: #fff;
    &.ok{
        background-color: green;
    }
    &.sucsess{
        background-color: red;
    }
    &.warning{
        background-color: blue;
    }
    
}

.chat_box{
    width: 300px;
    height: 200px;

    border: 1px solid #444;

    float: right;
    position: relative;
    z-index: 999;
    background-color: #fff;
    ul{
        list-style: none;
        li{
            font-size: 14px;
            text-align: right;
            padding: 8px;
            border-bottom: 1px solid #ccc;
            &:nth-child(odd){
                text-align: left;
                color: green;
            }
        }
    }

    
}