<router-outlet></router-outlet>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/intro" routerLinkActive="active">Product Intro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/partner" routerLinkActive="active">Our Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>

<div class="info_bar" [ngClass]="titleChange.status">
    <div class="container">
        <div class="row">
            <div class="col">{{titleChange.status}}</div>
        </div>
    </div>
</div>
<div class="info_bar" style="
z-index: 9999;
position: fixed;
width: 200px;
right: 0px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <span style="color: #000">{{productStatusName}}: </span> 
                <span [ngClass]="stockChecking">{{productStatusValue}}</span> 
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="chat_box" >
                <ul>
                    <li [ngClass]="gender[i]" *ngFor="let item of ShowChatMgs; let i = index" >{{item}}</li>
                </ul>
            </div>
            <button class="btn" (click)="clearChat()" style="height: 44px;">Clear Chat</button>
        </div>
        </div>

<app-header></app-header>
<app-menu-bar [rightMenu]="siteMenu" (changeDeta)="showValue($event)"  (chatmethod)="capture($event)"  (genderShow)="genderIcon($event)" ></app-menu-bar>
<app-intro-panel (showProductKeyInfo)="statusProductName($event)" (showProductKeyInfoStock)="statusProductStock($event)" ></app-intro-panel>





<!-- 
<app-range-km></app-range-km>
<app-intro></app-intro>
<app-partner></app-partner>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
 -->

