<div class="info_bar" [ngClass]="titleChange.status">
    <div class="container">
        <div class="row">
            <div class="col">{{titleChange.status}}</div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="chat_box" >
                <ul>
                    <li *ngFor="let item of ShowChatMgs">{{item}}</li>
                </ul>
            </div>
            <button class="btn" (click)="clearChat()" style="height: 44px;">Clear Chat</button>
        </div>
        </div>

<app-header></app-header>
<app-menu-bar [rightMenu]="siteMenu" (changeDeta)="showValue($event)"  (chatmethod)="capture($event)" ></app-menu-bar>
<app-intro-panel></app-intro-panel>
<app-range-km></app-range-km>
<app-intro></app-intro>
<app-partner></app-partner>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
<router-outlet></router-outlet>
