.info_bar{
    height: 30px;
    width: 100%;

    background-color: #ECEC4C;
    color: #fff;
    &.ok{
        background-color: green;
    }
    &.sucsess{
        background-color: red;
    }
    &.warning{
        background-color: blue;
    }
    
}