<section class="main_intro">
  <div class="view_map"></div>
  <div class="container bkg_container">
      <div class="row">
          <div class="main_slogan_area">
              <h1>Your school’s one-stop<br> partner for safe &amp; reliable <br> student transportation</h1>
              <div class="sub_title">Contact Zūm about your school<br> transportation needs</div>
              <button class="btn btn-primary" onclick="moveToForm()">Contact Us</button>
          </div>
      </div>
  </div>
</section>
