<section class="main_intro">
  <table class="table table-strip">
    <thead>
        <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Change Stock Information</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productInfo let i = index" [ngClass]="item.rowStatus"> 
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
            <td>
                <input type="number" #stockSetValue   />
                <button (click)="stockVlaue(i, stockSetValue.value)"  [ngClass]="item.color" class="btn" >Change Stock Value</button>
            </td>
        </tr>
    </tbody>
  </table>
</section>
