.main_intro{
    position: relative;
    background-color: #dcdc22;
    display: flex;
    flex-wrap: wrap-reverse;

    .red{
        background-color: red;
    }
    .green{
        background-color: green;
    }
    
}