.main_intro{
    position: relative;
    background-color: #dcdc22;
    display: flex;
    flex-wrap: wrap-reverse;

    .view_map{
        position: relative; //after mobile absolute
        background: transparent url(../../assets/image/view.svg) no-repeat left bottom 5px;
        background-repeat: repeat-x;
        bottom: 0px;
        width: 100%;
        height: 290px; //after mobile 100
        z-index: 99998;

       //background-image: url(../../assets/image/view.svg), url(.../../assets/image/boy.png);
        background-position:  left bottom 10px, center bottom;
        background-repeat: no-repeat, no-repeat;
        background-size:auto auto ,auto 300px;
        @media screen and (min-width: 768px) {
            position:absolute;
            background: transparent url(../../assets/image/view.svg) no-repeat left bottom 5px;
            height: 100px;
        }
    }
   
    height: auto;// after mobile 500px;
    .bkg_container{
        display: flex;
        align-items: center;
        position: relative;
        
        height: 100%;
        .main_slogan_area{
            text-align: center; // left after mobile
            position: relative;
            z-index: 99999;
            padding: 20px 0px; //unset after mobile
            h1{
                color: #fff;
                padding-bottom: 15px;
                font-size: 30px;//after mobile 30px
                margin: 0px;
                font-weight: normal; //after mobile 200px
                br{
                    display: none;
                }
            }
            .sub_title{
                font-size: 24px; //after mobile 35px
                font-weight: normal;
                
            }
        }
    }

    @media screen and (min-width: 768px) {
        .bkg_container {
            background: transparent url("../../assets/image/boy.png") no-repeat right bottom;
            background-size: auto 300px;
            .main_slogan_area{
                text-align: left;
                padding: 30px 0px;
                h1{
                    font-weight: normal;
                    font-size: 45px; 
                    br{
                        display:inline;
                    }
                }
                .sub_title {
                    font-size: 30px;
                }
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .bkg_container {
            background-size: auto 400px;
            .main_slogan_area{
                padding: 60px 0px;
                h1{
                    font-size: 50px;
                }
                .sub_title {
                    font-size: 35px;
                    line-height: 50px;
                }
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .bkg_container {
            background-size: auto 700px;
            .main_slogan_area{
                padding: 160px 0px;
                h1{
                    font-size: 60px;
                    font-weight: bold;
                }
                .sub_title {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .view_map {
            position: absolute;
           background: transparent url(../../assets/image/view.svg) no-repeat left bottom 19px;
            height: 200px;
        }
    }
}